<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
    </head>
    <body>
        <div class="mt-5 mx-5">
          <div th:replace="~{/layout/fragments :: pageHeader('department list page')}"></div>
        <br />
        </div>
        
        <div class="mx-5">
        <h1>부서 목록</h1>
            <main>
                <table class="table table-hover table-bordered border-info mt-3" style="text-align: center;">
                    <thead class="table table-info">
                        <tr>
                            <th>부서 번호</th>
                            <th>부서 이름</th>
                            <th>매니저</th>
                            <th>부서 위치</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr th:each=" dept: ${page}" th:object="${dept}">
                            <td>
                                <a th:href="@{/department/details/{id}(id=*{id})}"
                                th:text="*{id}"></a>
                            </td>
                            <td>
                                <a th:href="@{/department/details/{id}(id=*{id})}" th:text="*{departmentName}"></a>
                            </td>
                            <td>
                                <th:block th:if="*{manager != null}"><!-- null처리해야함 null인데 .해서 메서드(getter)호출하려고 하면 nullpointerException -->
                                    <a th:href="@{/employee/details/{id}(id=*{manager.id})}" th:text="|*{manager.firstName} *{manager.lastName}|"></a>
                                </th:block>
                            </td>
                            <td>
                                <th:block th:if="*{location != null}">
                                    <a th:href="@{/location/details/{id}(id=*{location.id})}" th:text="*{location.city}"></a>
                                </th:block>
                            </td>
                        </tr>
                    </tbody>
                </table>
            
            </main>
            
            <!-- 페이지 네이션 시작 -->
            <div class="mt-5">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center"> <!-- justify-content-center 가운데 정렬(부트스트랩) -->
                    <li class="page-item"
                        th:classappend="${!page.hasPrevious} ? 'disabled'">
                        <a class="page-link"
                            th:href="@{|?p=${page.number -1}|}">&laquo;</a><!-- ${page.hasPrevious} 이전 페이지를 가지고 있지않으면 비활성화(disabled)(class속성에 비활성화 추가) -->
                    </li>
                    
                    <!-- 페이지 네이션 반복문(페이지 수만큼 반복) -->
                    <!-- 원래는 0부터 전체 페이지 수인데 페이지1부터 시작하게 하려고 페이지 번호에 1더하고 전체페이지수 1뺀것 -->
                    <li th:each="pageNo : ${#numbers.sequence(0,page.totalPages -1)}" 
                        th:if="${(page.number < 4 && pageNo < 5) || (page.number >= 4 && pageNo >= page.number - 3 && pageNo <= page.number + 1)}" class="page-item"
                        th:classappend="${pageNo == page.number} ? 'active'"> <!-- page객체에서 getnumber호출 한 것. --><!-- th:classappend 조건에 만족하는 경우에만 class에 속성 추가하겠다 -->
                       <!--#numbers.sequence(0,page.totalPages -1) 반복할때 연속된 숫자가 필요한 경우사용함   -->
                        <!-- th:if="${pageNo >= page.number -5 && pageNo < page.number +5 
                            page.number 현재페이지 번호를 의미. 현재페이지 기준으로 뒤쪽 페이지는 5개까지만 버튼을 보여주겠다는 뜻.  
                            현재 페이지를 기준으로 다음페이지는 4개 더 보여주고 이전은 5개. 
                        --> <!-- page.totalPages getter호출. -->
                        <a class="page-link" th:text="${pageNo +1}" 
                            th:href="@{|?p=${pageNo}|}"></a> <!-- ?p=${pageNo} 리퀘스트파라미터로 덧붙이겠다 -->
                        <!-- 실제로는(#numbers.sequence(0,page.totalPages)) 0부터(page.totalPages까지) 시작이지만 보여줄때 번호는 1부터(pageNo +1) 시작함. -->
                    </li>
                    <!--  반복문 끝 -->
                    
                    <li class="page-item"
                        th:classappend="${!page.hasNext} ? 'disabled'"> <!-- th:classappend="${!page.hasNext} ? 'disabled'" 조건식. 만약 아니면 아무것도 안한다고함 -->
                        <a class="page-link"
                            th:href="@{|?p=${page.number + 1}|}">&raquo;</a>
                    </li>
                </ul>
            </nav>
            </div>
            <!-- 페이지 네이션 끝 -->
        
        </div>
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
    </body>
</html>