<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring Boot 1</title>
	</head>
	<body>
		<!-- templatas/layout/fragments.html 파일의 myHeader 프래그먼트 끼워넣기 -->
         <div th:replace="~{/layout/fragments :: myHeader('도서 목록 페이지')}"></div>
         
         <!-- ${...} : Variable expressions. -->
     <!--    <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>저자</th>
                </tr>
            </thead>
            <tbody>
            <!-- 반복문 자바의 향상된 for문과 비슷하다고 보면 됨 -->
            <!--         <tr th:each="book : ${bookList}">
                        <td th:text="${book.id}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="|${book.author.firstName} ${book.author.lastName}|"></td>
                    </tr>
            </tbody>
         </table> -->
         
         <br />
         
         <!-- *{...} : Selection expressions.선택 표현식 -->
           <!--    <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>저자</th>
                </tr>
            </thead>
            <tbody>
            <!-- 반복문 자바의 향상된 for문과 비슷하다고 보면 됨 -->
             <!--          <tr th:each="book : ${bookList}" th:object="${book}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{title}"></td>
                        <td th:text="|*{author.firstName} *{author.lastName}|"></td>
                    </tr>
            </tbody>
         </table> -->
         
        <h1>과제</h1> 
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>제목</th>
                    <th>저자</th>
                </tr>
            </thead>
            <tbody>
            <!-- 반복문 자바의 향상된 for문과 비슷하다고 보면 됨 -->
                    <tr th:each="book : ${bookList}" th:object="${book}" > <!-- th:each 반복문 -->
                        <td th:text="*{id}"></td>
                        <td th:text="*{title}"></td>
                        <!-- 과제 author이 null인 행 오류 해결. -->
                        <!-- *{author != null} 조건식 ? true일 때 사용할 값 : false 일 때 사용할 값 -->
                        <td th:text="*{author != null} ? |*{author.firstName} *{author.lastName}| : '(저자 없음)'"></td>
                        <!-- |*{author.firstName} *{author.lastName}|은 
                            *{author.firstName} + " " + *{author.lastName}과 같음 사이에 공백 넣으려고 || 안에 넣은 것 -->
                    </tr>
            </tbody>
         </table>
         
	</body>
</html>